# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
.env.*

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Logs =====
*.log

# ===== Frontend =====
node_modules/
dist/

# ===== Ollama =====
.ollama/
